body {
    font-family: Roboto Condensed,Lato,Arial,sans-serif!important;
    font-weight: 400;
    font-size: 24px;
    font-display: auto;
    background-color: #104346;
    color: #f9f9f9;
    min-height: 100vh;
    height: 100%;
    position: relative;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .main-container{
      position: relative;
      width: 100%;
      height: 100%;
  }
  .navbar {
    padding: 0rem 1.5rem;
    font-family: 'Gotham-Light';
    
  }
 .navbar ul {
      list-style: none;
      display: flex;
    float: right;
    padding: 0rem 0rem;
    
  }
  .navbar li {
    padding: 0rem 1rem;
    text-decoration: none;
    cursor: pointer;
    
  }
  .navbar li :hover {
    color: #192965;
  }
  .nav-style {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
  }
  .navbar a {
    text-decoration: none;
    color: #f9f9f9!important;
  }
  a {
    color: #192965;
    font-family: 'Gotham-Light';
  }
  .headspace {
    position: fixed;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    height: 4rem;
  }
  .container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
.img-profile img{
  height: 250px;
  width: 250px;
}
.img-profile figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
.img-profile figure {
position: relative;
}
.img-profile figure::before {
  position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 110%;
		height: 110%;
		opacity: 0;
	}
}
