@font-face {
	font-family: "Bitter-Rose";
	 src: url("/assets/fonts/Bitter-Rose.otf");
  }
@font-face {
	font-family: "GothamRounded-Medium";
	 src: url("/assets/fonts/GothamRounded-Medium.otf");
  }
  @font-face {
	font-family: "GothamRounded-Bold";
	 src: url("/assets/fonts/GothamRounded-Bold.otf");
  }
  @font-face {
	font-family: "GothamRounded-Book";
	 src: url("/assets/fonts/GothamRounded-Book.otf");
  }
  @font-face {
	font-family: "Gotham-Medium";
	 src: url("./assets/fonts/Gotham-Medium.ttf");
  }
  @font-face {
	font-family: "Gotham-Book";
	 src: url("/assets/fonts/Gotham-Book.otf");
  }
  @font-face {
	font-family: "Gotham-Light";
	 src: url("./assets/fonts/Gotham-Light.ttf");
  }
  @font-face {
	font-family: "Gotham-Thin";
	 src: url("/assets/fonts/Gotham-Thin.otf");
  }
  @font-face {
	font-family: "Gotham-XLight";
	 src: url("/assets/fonts/Gotham-XLight.otf");
  }
  @font-face {
	font-family: "Gilroy-ExtraBold";
	 src: url("/assets/fonts/Gilroy-ExtraBold.otf");
  }



  @font-face {
    font-family: "Helvetica";
     src: url("/assets/fonts/Helvetica.ttf");
  }
  @font-face {
    font-family: "YTSans";
     src: url("/assets/fonts/Helvetica.ttf");
  }  
  @font-face {
    font-family: "Gotham-Bold";
     src: url("./assets/fonts/Gotham-Bold.ttf");
  }
  @font-face {
    font-family: "GothamMedium";
     src: url("/assets/fonts/GothamMedium.ttf");
  }
  @font-face {
    font-family: "GothamRegular";
     src: url("/assets/fonts/GothamLight Regular.otf");
  }

  @font-face {
    font-family: "Gotham-Book";
     src: url("/assets/fonts/GothamBook.ttf");
  }





.intro {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* margin-top: 15rem; */
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: 'Gotham-Light';
  background-image: url('./assets/bg-img.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}
.intro-page {
  width: 100%;
  height: 100vh;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  padding-left: 1rem;
}
.about p {
  /* margin: auto; */
  max-width: 100%;
  font-size: 22px;
}
p {
  font-size: 15px;
  color: #f8f9fa;
  font-family: 'Gotham-Light';
}
h3 {
  font-size: 17px;
  font-family: 'Gotham-Light';
}
.skills-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  justify-content: center;
  align-items: center;
}
.work-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* margin-top: 15rem; */
  justify-content: center;
  align-items: center;
}
.contact{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
.work {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  text-align: center;
  margin: 2rem;
  /* max-width: 360px; */
}
.skills{
  position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 65%;
    text-align: center;
    flex-wrap: nowrap;
}
.skill img{
  width: 96px;
}
.skills-list {
  max-width: 320px;
}
.list-item {
    width: 100%;
    position: relative;
    color: #f8f9fa;
    background: #2a3b52;
    overflow: hidden;
    font-family: 'Gotham-Light';
    margin: 8px 0px 8px 0px;
    padding-top: 1rem;
}
.about-container {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham-Bold';
}
canvas {
  position: fixed!important;
}
.title h1{
  font-size: 24px;
}
.title {
  color: #988e9f;
  font-family: 'Gotham-Bold';
  font-size: 36px;
}
.subtitle {
  font-size: 34px;
    font-weight: 700;
    margin-bottom: 0!important;
}
@media only screen and (max-width: 600px) {
  .subtitle {
    font-size: 19px;
  }
  p{
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px) {
  .subtitle {
    font-size: 16px;
  }
  p{
    font-size: 12px;
  }
  .img-profile img{
    height: 200px;
    width: 200px;
  }
  .about p{
    font-size: 16px;
  }
  .button {
    margin: 1rem;
  }
  .card {
    height: 140px;
  }
}
@media only screen and (max-width: 768px) {
  .container-about {
    flex-direction: column-reverse;
    margin-bottom: 2rem;
  }
  .about {
    align-items: center;;
  }
  .skills-container{
    margin-top: 25rem;
  }
  .card {
   
    margin-bottom: 10px!important;
  }
  .work {
    flex-wrap: wrap;
    margin: unset;
  }
  .work-container{
  margin-top: 6rem;
  }
  .contact {
    margin-top: 5rem;
  }
  .navbar {
    display: none;
  }
}
.social {
  height: 32px;
  width: 32px;
  margin: 8px;
}
.purple {
  color: #192965;
  font-family: 'Gotham-Bold';
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.content-container {
  /* height: 500px; */
}
.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}


/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #f8f9fa;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2a3b52;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: #222;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/* Radial In */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #f8f9fa;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a3b52;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: #222;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.background {
  
  position
  :
   absolute
  ;
    
  display
  :
   block
  ;
    
  top
  : 0;
    
  left
  : 0;
    
  z-index
  : 0;
  }

  /* //skills */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    /* text-align: left; */
    font-family: 'Gotham-Light';
    width: 300px;
    height: 150px;
  }
  .card p {
    color: #988e9f;
    text-align: start;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .work-title {
    padding: 1rem 0 0 0;
    font-size: 17px;
    color: #192965;
    font-weight: 700;
  }


.container-download {
  flex: 0 0 auto;
  width: 70px;
  height: 150px;
  
  @media screen and (height <= $bp) {
    margin: 25px auto;
  }
}

.button {
  display: inline-block;
  padding: 12px 12px 10px;
  border: 0;
  border-radius: 3px;
  background: #192965;
  text-decoration: none;
  transition: all 1.2s ease-in-out; 
}
.button a:hover{
  color: #f9f9f9!important;
  text-decoration: none; 
}
.button a{
  color: #f9f9f9!important;
  text-decoration: none; 
}
.button i::after {
  content: "\f019";
  font-size: 40px;
  color: #fff;
}
.button:hover{
  animation: pulse 0.2s 2 both;
}
.success {
  border-radius: 50%;
  background: #80bca3;
  
}
.success i::after {
  content: "\f00c";
  color: transparent;
  animation: change-icon 1s 0.6s linear both;
}
.loading 
  i {
    animation: loading 2s infinite linear;
  }
.loading 
  i::after {
    content: "\f1ce";
  }

@keyframes loading {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes change-icon {
  0% {
    color: transparent;
  }
  
  100% {
    color: #fff;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


