@font-face {
	font-family: "Bitter-Rose";
	 src: url("/assets/fonts/Bitter-Rose.otf");
  }
@font-face {
	font-family: "GothamRounded-Medium";
	 src: url("/assets/fonts/GothamRounded-Medium.otf");
  }
  @font-face {
	font-family: "GothamRounded-Bold";
	 src: url("/assets/fonts/GothamRounded-Bold.otf");
  }
  @font-face {
	font-family: "GothamRounded-Book";
	 src: url("/assets/fonts/GothamRounded-Book.otf");
  }
  @font-face {
	font-family: "Gotham-Medium";
	 src: url("/assets/fonts/Gotham-Medium.otf");
  }
  @font-face {
	font-family: "Gotham-Book";
	 src: url("/assets/fonts/Gotham-Book.otf");
  }
  @font-face {
	font-family: "Gotham-Light";
	 src: url("/assets/fonts/Gotham-Light.otf");
  }
  @font-face {
	font-family: "Gotham-Thin";
	 src: url("/assets/fonts/Gotham-Thin.otf");
  }
  @font-face {
	font-family: "Gotham-XLight";
	 src: url("/assets/fonts/Gotham-XLight.otf");
  }
  @font-face {
	font-family: "Gotham-Bold";
	 src: url("/assets/fonts/Gotham-Bold.ttf");
  }
  @font-face {
	font-family: "Gilroy-ExtraBold";
	 src: url("/assets/fonts/Gilroy-ExtraBold.otf");
  }



  @font-face {
    font-family: "Helvetica";
     src: url("/assets/fonts/Helvetica.ttf");
  }
  @font-face {
    font-family: "YTSans";
     src: url("/assets/fonts/Helvetica.ttf");
  }  
  @font-face {
    font-family: "Gotham-Bold";
     src: url("/assets/fonts/GothamBold.ttf");
  }
  @font-face {
    font-family: "GothamMedium";
     src: url("/assets/fonts/GothamMedium.ttf");
  }
  @font-face {
    font-family: "GothamRegular";
     src: url("/assets/fonts/GothamLight Regular.otf");
  }

  @font-face {
    font-family: "Gotham-Book";
     src: url("/assets/fonts/GothamBook.ttf");
  }





.intro {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* margin-top: 15rem; */
  justify-content: center;
  align-items: center;
  font-family: 'Gotham-Light';

}
.intro-page {
  width: 100%;
  height: 100vh;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
}
.about p {
  margin: auto;
  max-width: 75%;
  font-size: 15px;
}
p {
  font-size: 15px;
  color: #f8f9fa;
  font-family: 'Gotham-Thin';
}
h3 {
  font-size: 17px;
}
.skills-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  justify-content: center;
  align-items: center;
}
.work-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* margin-top: 15rem; */
  justify-content: center;
  align-items: center;
}
.contact{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 100%;
  text-align: center;
  max-width: 360px;
  margin: auto;
}
.work {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  max-width: 360px;
}
.skills{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 300px; */
  text-align: center;
}
.skills-list {
  max-width: 320px;
  /* margin: auto; */
}
.list-item {
    width: 100%;
    position: relative;
    color: #f8f9fa;
    background: #2a3b52;
    overflow: hidden;
    /* margin: 8px; */
    font-family: 'Bitter-Rose';
    margin: 8px 0px 8px 0px;
    padding-top: 1rem;
}
.about-container {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
canvas {
  position: fixed!important;
}
.title h1{
  font-size: 24px;
}
.title {
  color: #988e9f;
  font-family: 'Gotham-Bold'
}
.subtitle {
  font-size: 34px;
    font-weight: 700;
    margin-bottom: 0!important;
}
@media only screen and (max-width: 600px) {
  .subtitle {
    font-size: 20px;
  }
}
.social {
  height: 32px;
  width: 32px;
  margin: 8px;
}
.purple {
  color: #5918df;
  font-family: 'Gotham-Bold';
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.content-container {
  /* height: 500px; */
}
.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}


/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #f8f9fa;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2a3b52;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: #222;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/* Radial In */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #f8f9fa;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a3b52;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: #222;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}